@import "normalise.css";

.radius (@size) {
	border-radius: @size;
	-webkit-border-radius: @size;
	-moz-border-radius: @size;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}

body {
	font-family: 'IM Fell English';

	font-size: 14pt;

	min-width: 700px;
}

.no-text-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#logo {
	.no-text-select;

	width: 50px;

	font-size: 48pt;

	padding: 0;

	cursor: pointer;

	text-align: center;

	letter-spacing: -6px;
}

#header {
	font-family: 'Yanone Kaffeesatz';
	font-weight: 200;

	margin: -16px 0 0 0;

	height: 65px;
	width: 100%;

	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

#header a {
	text-decoration: none;
	color: black;
}

#header a:hover {
	background-color: #444;
	color: white;
}

#header a.selected:hover {
	.selected;

	cursor: default;
}

#content {
	padding: 1em;

	text-align: justify;

	min-height: 500px;

	width: 650px;

	margin-left: auto;
	margin-right: auto;
}

#content a {
	color: black;
}

#menu {
	float: right;

	font-size: 18pt;

	margin-top: -66px;
}

.menu-item {
	.no-text-select;

	float: left;

	text-align: center;

	padding: 12px 10px 16px 10px;

	height: 24px;
}

.selected {
	background-color: black;
	color: white !important;
}

.menu-item:hover {
	.selected;
}

.clearfix {
	clear: both;
}

.l {
	font-size: 50pt;
}

code {
	font-family: 'inconsolata', 'consolas', 'menlo', 'monaco', monospace, serif;
	font-size: 11pt;
}

.me {
	display: block;

	.radius(100px);

	margin: 0 auto 0 auto;

	width: 100px;
	height: 100px;

	background-image: url('/img/meSquare.png');
	background-size: cover;
}
