@import "normalise.css";
@import "fonts.less";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}

body {
	font-family: 'imfell';

	font-size: 14pt;

	min-width: 500px;
}

.no-text-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#logo {
	.no-text-select;

	width: 50px;

	font-size: 48pt;

	margin: 0 auto 0 auto;
	padding: 0;

	cursor: pointer;

	text-align: center;

	letter-spacing: -6px;
}

#header {
	font-family: 'yanone thin';

	margin: -6px 0 0 0;

	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);

	height: 55px;
	width: 100%;
}

#header a {
	text-decoration: none;
	color: black;
}

#header a:hover {
	background-color: #444;
	color: white;
}

#header a.selected:hover {
	.selected;

	cursor: default;
}

#content {
	padding: 1em;

	text-align: justify;

	min-height: 500px;
	max-width: 1000px;

	margin-left: auto;
	margin-right: auto;
}

#content a {
	color: black;
}

#menu {
	float: right;

	font-size: 18pt;

	margin-top: -66px;
}

.menu-item {
	.no-text-select;

	float: left;

	text-align: center;

	padding: 14px 10px 16px 10px;

	height: 22px;
}

.selected {
	background-color: black;
	color: white !important;
}

.menu-item:hover {
	.selected;
}

.clearfix {
	clear: both;
}

.l {
	font-size: 50pt;
}

code {
	font-family: 'inconsolata', 'consolas', 'menlo', 'monaco', monospace, serif;
	font-size: 11pt;
}
