<h2>Current Status</h2>

<p>I am working on microproject #2 - Once again taking advantage of <a href="http://sample-hold.com/about/">Fred Ghilini</a>'s
awesome <a href="http://sample-hold.com/">blog</a> and working on his <a href="http://sample-hold.com/2011/11/23/create-a-fft-analyzer-part-i-prerequisites-concerns-and-setup/">FFT Analyser</a> project.</p>

<h3>Previous MicroProjects</h3>

<ol>
<li><a href="https://github.com/lorenzo-stoakes/AUExperiment">AUExperiment</a> - Implemented simple <a href="http://en.wikipedia.org/wiki/Audio_Unit">AU</a> component using
<a href="http://sample-hold.com/about/">Fred Ghilini</a>'s fantastic <a href="http://sample-hold.com/2011/11/23/getting-started-with-audio-units-on-os-x-lion-and-xcode-4-2-1/">blog post</a>.</li>
</ol>

<h2>What Is OpenRig?</h2>

<p>Openrig is a nascent project intended to be an open-source guitar amp and effect simulator in
the vein of <a href="http://www.native-instruments.com/en/products/komplete/guitar/guitar-rig-5-pro/">Guitar Rig</a>, <a href="http://overloud.com/products/th2.php">Overloud TH2</a>, and <a href="http://www.ikmultimedia.com/products/cat-view.php?C=family-amplitube">Amplitube</a> (though I by no means intend
to arrogantly suggest it will achieve the quality of those rather fantastic applications :)</p>

<h2>Why?</h2>

<p>I love playing the guitar and I want to play around with audio development and
<a href="http://en.wikipedia.org/wiki/Signal_processing">signal processing</a> and work on a hobby codebase written in a lower-level language and
optimised for performance. I also wanted to find a project where I feel <a href="http://www.nvidia.com/object/cuda_home_new.html">CUDA</a> could be
usefully deployed, all criteria which OpenRig fits rather well.</p>

<p>Also, because it's fun :-D</p>

<h2>How?</h2>

<p>Language-wise I intend to write it mostly in C and CUDA with a little Objective C (the initial
target will be mac for convenience.)</p>

<p>It may be the case that latency concerns exclude CUDA, whereby I don't rule out playing around
with some custom <a href="http://en.wikipedia.org/wiki/Digital_signal_processor">DSP</a> <a href="http://www.analog.com/en/processors-dsp/tigersharc/products/index.html">hardware</a>... But let's not get ahead of ourselves :-)</p>

<h2>Seriously Though, How?</h2>

<p>Project-by-project. I intend to work on smaller projects working slowly towards the final
goal - as I complete a small project I will use that experience to decide which project to do
next. Over time the projects will build up my knowledge and provide a base of code with which to
finally go ahead and build the first version of OpenRig itself.</p>

<p>I'm sure this isn't all that innovative an approach, but it rather excites me. At no point will
I have the sense of working on something overwhelmingly large, even when I come to combine the
projects to build the first version of OpenRig the work I will have done will have made that a
small project too.</p>
