<h2>Current Projects</h2>

<ul>
<li>I'm slowly working my way into contributing to <a href="http://www.chromium.org/">chromium</a>.</li>
<li>I am very interested in algorithms; my <a href="/projects/alg">algorithms</a> page contains stuff I'm working on in
relation to this.</li>
</ul>

<h2>Past Projects</h2>

<ul>
<li>Contributing to the <a href="http://golang.org">Go programming language</a> - fixed issues <a href="https://code.google.com/p/go/source/detail?r=3c73bb78da9a">667</a>, <a href="https://code.google.com/p/go/source/detail?r=2562ce5a7a">1324</a>,
and <a href="https://code.google.com/p/go/source/detail?r=1bad75771eb6">1606</a>.</li>
<li><a href="https://github.com/lorenzo-stoakes/weak">Weak</a>, an open source chess <a href="http://chessprogramming.wikispaces.com/Perft">perft</a> calculator. This was intended to be a full-blown
chess engine, but in the process of working on it I realised I simply wasn't passionate
enough about the game to dedicate the time that would require. Regardless, it was great
experience and taught me a lot about programming high performance software in C.</li>
<li>Taking the <a href="https://www.coursera.org/course/algo">Algo 1</a> course and writing up <a href="https://github.com/lorenzo-stoakes/stanford-algo">notes</a>.</li>
<li>Taking the inaugural <a href="http://www.ted.com/talks/peter_norvig_the_100_000_student_classroom.html">AI course</a> and writing up <a href="https://github.com/lorenzo-stoakes/stanford-ai">notes</a>.</li>
<li>A &lsquo;rainbow' sorting visualisation, I've uploaded a version on the website <a
href="/projects/rainbow" target="_self">here<a/>, the code is up on <a href="https://github.com/lorenzo-stoakes/Rainbow-Sort">github</a>.</li>
<li>A small <a href="http://en.wikipedia.org/wiki/Audio_Units">AU</a> <a href="https://github.com/lorenzo-stoakes/TemplateAU">template</a> compatible with XCode 4.6.3 and OS.X 10.8 adapted from
Fred Ghilini's <a href="http://sample-hold.com/2011/11/23/getting-started-with-audio-units-on-os-x-lion-and-xcode-4-2-1/">excellent tutorial</a>.</li>
</ul>
