<h1>Projects</h1>

<h2>Current</h2>

<ul>
<li>I am a <a href="/projects/chromium">contributor</a> to the <a href="http://www.chromium.org/">chromium</a> (and relatedly <a href="http://www.chromium.org/blink">blink</a>) projects.</li>
<li>My latest <a href="/projects/alg">algorithmic</a> project is <a href="https://github.com/lorenzo-stoakes/algoholic">algoholic</a>, a collection of algorithms implemented in
different languages.</li>
<li>I am studying <a href="http://pdos.csail.mit.edu/6.828/2012/xv6.html">xv6</a>, a rather amazing toy OS codebase combined with high quality study
material (in particular, the <a href="http://pdos.csail.mit.edu/6.828/2012/xv6/book-rev7.pdf">xv6 book</a>) - Check out my <a href="http://blog.ljs.io/post/71424794630/xv6">blog post</a> for more details.</li>
<li>I occasionally work on <a href="https://github.com/lorenzo-stoakes/SneakyCharlie">Sneaky Charlie</a>, a <a href="http://coffeescript.org/">Coffeescript</a> poker bot designed to take part in the <a href="https://github.com/mdp/JsPoker">JsPoker</a> poker bot tournament. Charlie won round 7 of the bounty contest yay!</li>
</ul>

<h2>Past</h2>

<ul>
<li>Contributed to the <a href="http://golang.org">Go programming language</a> - fixed issues <a href="https://code.google.com/p/go/source/detail?r=3c73bb78da9a">667</a>, <a href="https://code.google.com/p/go/source/detail?r=2562ce5a7a">1324</a>,
and <a href="https://code.google.com/p/go/source/detail?r=1bad75771eb6">1606</a>.</li>
<li>Wrote <a href="https://github.com/lorenzo-stoakes/weak">Weak</a>, an open source chess <a href="http://chessprogramming.wikispaces.com/Perft">perft</a> calculator. This was intended to be a full-blown
chess engine, but in the process of working on it I realised I simply wasn't passionate
enough about the game to dedicate the time that would require. Regardless, it was great
experience and taught me a lot about programming high performance software in C.</li>
<li>Took the <a href="https://www.coursera.org/course/algo">Algo 1</a> course and wrote up some <a href="https://github.com/lorenzo-stoakes/stanford-algo">notes</a>.</li>
<li>Took the inaugural <a href="http://www.ted.com/talks/peter_norvig_the_100_000_student_classroom.html">AI course</a> and wrote up some <a href="https://github.com/lorenzo-stoakes/stanford-ai">notes</a>.</li>
<li>Created a &lsquo;rainbow' sorting visualisation and uploaded <a href="/projects/rainbow"
target="_self">a version</a> on this website. The code is up on <a href="https://github.com/lorenzo-stoakes/Rainbow-Sort">github</a>.</li>
<li>Wrote a small <a href="http://en.wikipedia.org/wiki/Audio_Units">AU</a> <a href="https://github.com/lorenzo-stoakes/TemplateAU">template</a> compatible with XCode 4.6.3 and OS.X 10.8 adapted
from Fred Ghilini's <a href="http://sample-hold.com/2011/11/23/getting-started-with-audio-units-on-os-x-lion-and-xcode-4-2-1/">excellent tutorial</a>.</li>
</ul>
