<div class="me"></div>

<p>I'm Lorenzo [J.] Stoakes, a 32-year-old English bloke. I work at a <a href="http://resin.io">startup</a> as a
programmer, and like to... <a href="/projects">program</a> on the side.</p>

<p>Contact me at <a href="&#x6D;&#x61;&#105;&#x6C;&#x74;&#111;:l&#115;&#x74;&#111;a&#107;&#x65;&#x73;&#64;&#103;&#109;&#97;&#x69;&#108;&#46;&#99;&#111;&#x6D;">l&#115;&#x74;&#111;a&#107;&#x65;&#x73;&#64;&#103;&#109;&#97;&#x69;&#108;&#46;&#99;&#111;&#x6D;</a>.</p>

<h2>Elsewhere on the Web</h2>

<ul>
<li><a href="https://github.com/lorenzo-stoakes/">Github</a></li>
<li><a href="https://news.ycombinator.com/user?id=singular">Hacker News</a></li>
<li><a href="https://www.ohloh.net/accounts/ljs/">Ohloh</a></li>
<li><a href="https://www.facebook.com/lstoakes">Facebook</a></li>
<li><a href="https://twitter.com/ljsloz">Twitter</a></li>
</ul>

<h2>Source</h2>

<p>The source code for this site is available in its <a href="https://github.com/lorenzo-stoakes/ljs.io">github repo</a>.</p>
