<div class="me"></div>

<p>I'm Lorenzo [J.] Stoakes, a 32-year-old English bloke. I work at a <a href="http://resin.io">startup</a> as a
programmer, and like to... <a href="/projects">program</a> on the side.</p>

<p>Contact me at <a href="&#x6D;&#x61;&#x69;&#108;&#x74;&#111;:l&#115;&#116;o&#x61;&#107;&#x65;&#115;&#64;g&#109;&#x61;&#x69;&#108;&#x2E;&#99;&#111;&#109;">l&#115;&#116;o&#x61;&#107;&#x65;&#115;&#64;g&#109;&#x61;&#x69;&#108;&#x2E;&#99;&#111;&#109;</a>.</p>

<h2>Elsewhere on the Web</h2>

<ul>
<li><a href="https://github.com/lorenzo-stoakes/">Github</a></li>
<li><a href="https://www.ohloh.net/accounts/ljs/">Ohloh</a></li>
<li><a href="https://twitter.com/ljsloz">Twitter</a></li>
</ul>

<h2>Source</h2>

<p>The source code for this site is available in its <a href="https://github.com/lorenzo-stoakes/ljs.io">github repo</a>.</p>
