<h1>Hi</h1>

<p>This is <a href="/about">my</a> personal site. I contribute to the <a href="/projects/chromium">chromium</a> open source project, study <a href="/projects/alg">algorithms</a> and work on other <a href="/projects">projects</a>. Sometimes I <a href="http://blog.ljs.io">blog</a>.</p>

<p>Though I focus on computing here I assure you I have other interests. I discuss these briefly in the video below.</p>

<iframe width="650" height="366" src="//www.youtube-nocookie.com/embed/tvXKN5Fz_OE?rel=0" frameborder="0" allowfullscreen></iframe>
