<h2>Hi</h2>

<p>This is <a href="/about">my</a> personal site. I <a href="/articles">write about stuff</a> and work on <a href="/projects">projects</a>.</p>

<h2>Latest News</h2>

<p>I have added my current projects - <a href="/projects/openrig">OpenRig</a> and <a href="/projects/alg">Algorithms</a> - to the
<a href="/projects">projects</a> page.</p>

<p>An <a href="/articles">article</a> is coming soon.</p>

<h2>Source</h2>

<p>The source code for this site is available in its <a href="https://github.com/lorenzo-stoakes/ljs.io">github repo</a>.</p>
