<h1>Hi</h1>

<p>This is <a href="/about">my</a> personal site. I contribute to the <a href="/projects/chromium">chromium</a> open source project, study <a href="/projects/alg">algorithms</a> and work on other <a href="/projects">projects</a>. Sometimes I <a href="http://blog.ljs.io">blog</a>.</p>

<p>Professionally I work as a software engineer at <a href="http://resin.io">resin.io</a>, focused mainly on frontend
development (however I've touched every layer of the full stack in typical startup style :)</p>
